<div class="row">
    <div class="col-12 mt-3">
        <button class="btn btn-primary">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">

        <div class="list-group list-group-flush mb-3">
            <a 
                href="" 
                class="d-flex list-group-item list-group-item-action"
                *ngFor="let recipe of recipes">

                <div class="row">
                    <div class="col-3 recipe__image">
                        <img 
                            class="rounded" 
                            [src]="['./assets/'+recipe.imageUrl]" 
                            alt="{{recipe.name}}">
                    </div>
                    <div class="col-9 recipe__meta">
                        <h4 class="m-0">{{recipe.name}}</h4>
                        <p class="m-0">{{recipe.description}}</p>
                    </div>
                </div>

            </a>
        </div>

        <app-recipe-item></app-recipe-item>
    </div>
</div>
