/* You can add global styles to this file, and also import other style files */

.recipe__image {
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.list-group-item img {
    width: 60px;
    height: 60px;
}


img {
    width: 100%;
}

.detail img {
    height: 350px;
}

.pointer {
    cursor: pointer;
}