<div class="row">
    <div class="col-12 mt-2">

        <form action="">
            <div class="row">
                <div class="col-sm-5">
                    <label for="name">Name</label>
                    <input #ingName type="text" class="form-control">
                </div>
                <div class="col-sm-3">
                    <label for="amount">Amount</label>
                    <input #ingAmount type="number" min="0" max="1000" step="1" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    <button type="button" (click)="onAddRecipe()" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-danger mx-1">Delete</button>
                    <button type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>

    </div>
</div>